footer#footer
    div.top
      a(href='https://storage.yandexcloud.net/hahaton/Положение1.pdf') Положение о хакатоне
      a(href="mailto:hack@rtuitlab.dev") hack@rtuitlab.dev 
      div.tg
        a(href="https://t.me/hahaton_2023" target="_blank" rel="noopener noreferrer")
          img(src="assets/logos/telegram.svg" alt="Телеграм чат"  width="28px" height="24px")
          | Telegram-чат
    div.bottom
      a(href="https://vkplay.ru/" target='_blank')
        img.icon#header-icon.vkPlay(src="./assets/logos/VKPlay_hover.svg"  alt="Логотип VK Игры" width="100px" height="31px")
      a(href="https://education.vk.company/" target='_blank')
        img.icon#header-icon.vkEducation(src="./assets/logos/VKEducationRU_hover.svg"  alt="Логотип VK Education" width="140px" height="20px")
      a(href="https://www.mirea.ru/" target='_blank')
        img.icon#header-icon.mirea(src="./assets/logos/MIREA_logo2.webp" alt="Логотип РТУ МИРЭА" width="60px" height="66px")
